* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
}

.app{
    background-repeat: no-repeat ;
    background-size: cover ;
}

main {
    min-height: 100vh;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.3);
}

.search-box {
    display: block;
    margin: auto;
}

input {
    display: block;
    width: 80vw;
    margin: auto;
    padding: 1rem;

    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgb(210, 210, 210);
    text-align: center;
    transition: 1s ease;
}

input:focus {
    background-color: rgb(255, 255, 255);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    display: block;
    margin: 2rem;
    padding: 2rem 3rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

h4 {
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
    .search-box {
        width: 40vw;
    }

    input {
        width: 40vw;
    }
}